.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    animation-name: fontanimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes fontanimation{
    0%{font-size: 20px;}
    50%{
        font-size: 40px;
    }
    100%{
        font-size: 90px;
        background-color: blue;
    }
}

